<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png"/>
<meta name="theme-color" content="#1885ed">
</head>

<body>
<header class="header">
  <div class="container header__container">
<div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png"> <h1 class="header__title">ABC Insurance<span class="header__light"></span></h1></div> 
  
  <div class="header__menu">
    <nav id="navbar" class="header__nav collapse">
      <ul class="header__elenco">
        <li class="header__el"><a href="#" class="header__link">Home</a></li>
        <li class="header__el"><a href="#" class="header__link">Products</a></li>
        <li class="header__el"><a href="#" class="header__link">Claim</a></li>
        <li class="header__el"><a href="#" class="header__link">Blog</a></li>
        <li class="header__el"><a href="#" class="header__link">Contact us</a></li>
        <li class="header__el header__el--blue"><a href="" class="btn btn--white">Sign In →</a></li>
      </ul>
    </nav>
  </div>
    </div>
</header>

<div class="sect sect--padding-top">
  <div class="site">
      
    <img class="site__img" src="https://image.ibb.co/c7grYb/image3015.png">
    <!-- <img class="site__img" src="https://img.freepik.com/premium-vector/vector-illustration-with-health-insurance-concept-big-clipboard-with-doctor-woman-healthcare_194782-1302.jpg?w=5000"> -->
  </div>
</div>


<!-- </body> -->